@import url('https://fonts.googleapis.com/css?family=Sura:400,700|Trade+Winds&display=swap');

body {
    background: url(../images/dark-paths.png);
}

/* Title Header */

#header {
    height: 100px;
    margin: 0 0 5px 10px;
}

.container h1 {
    color: #fff;;
    font-family: 'Trade Winds', cursive;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Instructions Container */

#instructions {
    background: #fff;
    margin: 0 0 5px 10px;
}

#instructions p {
    color: #483D8B;
    font-family: 'Sura', serif;
    font-weight: bold;
    padding-left: 2px;
}

/* Random Number & Win/Loss Row */

#score-row {
    margin: 0 0 10px 10px;
}

#random-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #483D8B;
    font-size: 75px;
    height: 150px;
}

#win-loss {
    background: #fff;
    height: 150px;
}

#win-loss p {
    color: #483D8B;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Sura', serif;
    padding: 20px 0 10px 10px;
    margin-right: 20px;
}

#wins {
    margin-bottom: 0;
}

#hidden-box {
    color: #483D8B;
    background: #fff;
    display: none;
}

/* Images Row */

#images {
    margin: 0 0 10px 10px;
}

#images .container {
    padding-left: 0;
}

#images img  {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

#images button {
    background: transparent;
    border: transparent;
}

/* Score Header */

#score-header p {
    color: #483D8B;
    background: #fff;
    font-family: 'Sura', serif;
    font-weight: bold;
    height: 45px;
    padding: 10px;
}

/* User's Current Score */

#score {
    margin: 0 0 10px 10px;
}

#user-score {
    color: #483D8B;
    background: #fff;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Audio */

.audio {
    display: none;
}

@media screen and (max-width: 575px) {
    body {
        margin: 10px;
    }

    #random-number,
    #win-loss {
        width: 45%;
    }
}

@media screen and (max-width: 545px) {
    #images img {
        width: 75px;
        height: 75px;
    }
}

@media screen and (max-width: 450px) {
    #instructions p {
        margin-bottom: .5rem;
    }

    #instructions p:last-child {
        display: none;
    }

    #images .row {
        justify-content: space-between;
    }
    #images img {
        width: 50px;
        height: 50px;
    }
}