@import url('https://fonts.googleapis.com/css?family=Sura:400,700|Trade+Winds&display=swap');

body {
    background: url(../images/dark-paths.png);
}

/* Title Header */

#header {
    height: 75px;
    margin: 0 0 5px 10px;
}

#header .row {
    height: 75px;
}

#header .col-6 {
    height: 75px;
}

.container h1 {
    color: #fff;;
    font-family: 'Trade Winds', cursive;
    height: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Instructions Container */

#instructions {
    background: #fff;
    margin: 0 0 5px 10px;
}

#instructions p {
    color: #483D8B;
    font-family: 'Sura', serif;
    font-weight: bold;
    padding-left: 2px;
}

/* Random Number & Win/Loss Row */

#score-row {
    margin: 0 0 10px 10px;
}

#random-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #483D8B;
    font-size: 75px;
    height: 150px;
}

#win-loss {
    background: #fff;
    height: 150px;
}

#win-loss p {
    color: #483D8B;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Sura', serif;
    padding: 20px 0 10px 10px;
    margin-right: 20px;
}

#wins {
    margin-bottom: 0;
}

#hidden-box {
    color: #483D8B;
    background: #fff;
    display: none;
}

/* Images Row */

#images {
    margin: 0 0 10px 10px;
}

#images .container {
    padding-left: 0;
}

#images img  {
    width: 100px;
    height: 100px;
}

#images button {
    background: transparent;
    border: transparent;
}

/* Score Header */

#score-header {
    margin: 0 0 10px 10px;
    padding-left: 0;
    height: 45px;
}

#score-header .row {
    height: 45px;
}

#score-header .col-3 {
    height: 45px;
}

#score-header p {
    color: #483D8B;
    background: #fff;
    font-family: 'Sura', serif;
    font-weight: bold;
    height: 45px;
    width: 180px;
    padding: 10px 0 10px 10px;
}

/* User's Current Score */

#score {
    margin: 0 0 10px 10px;
}

#user-score {
    color: #483D8B;
    background: #fff;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}